#showcase{
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 600px;
}

.showcase-content{
  text-align: center;
  padding-top: 170px;
  color: white;
}

#showcase .showcase-content h1{
  /* text-align: center; */
  font-size: 60px;
  padding-bottom: 20px;
  line-height: 1.2em;
}

/* #showcase .showcase-content h1 #primary{
  color: #f7c08a;
} */

#showcase .showcase-content p{
  /* text-align: center; */
  font-size: 20px;
  line-height: 1.7em;
  margin: 10px 0px;
  padding-bottom: 20px;
}

.btn{
  display: inline-block;
  text-align: center;
  border: none;
  background: #333;
  font-size: 18px;
  color: white;
  padding: 13px 20px;
  cursor: pointer;
}

a{
  text-decoration: none;
}

.btn:hover{
  background-color: #f7c08a;
  color: black;
}

/* Home info */
#home-info{
  height: 450px;
}

#home-info #info-img{
  float: left;
  background: url('../img/photo-1.jpg') no-repeat;
  width: 50%;
  min-height: 100%;
}

#home-info .info-content{
  float: right;
  text-align: center;
  width: 50%;
  height: 100%;
  padding: 50px 30px;
  overflow: hidden;
}

  #home-info .info-content p{
    padding: 30px;
  }  
.btn-light{
  background-color: white;
  color: #444;
}

/* Features */
.box{
  float: left;
  /* box-sizing: border-box; */
  /* display: inline-block; */
  text-align: center;
  width: 33.3%;
  padding: 50px;
}

.box i{
  margin-bottom: 10px;
}